<h2 class="mb-1 text-2xl font-light">Den Fotografen kontaktieren</h2>
<p>Möchtest du mich kontaktieren, bevor du dich für ein Shooting anmeldest? Ich bin für Fragen gerne da!</p>
<div class="flex justify-between mx-auto w-full md:w-1/2">
  <a href="https://wa.me/436702017710" target="_blank"><i class="icon rs-whatsapp rs-2x"></i></a>
  <a href="https://m.me/reisishot" target="_blank"><i class="icon rs-messenger rs-2x"></i></a>
  <a href="mailto:florian@reisishot.pictures" target="_blank"><i class="icon rs-mail rs-2x"></i></a>
</div>
