<div class="text-center p-6">
  <h1 class="w-full">Einen neuen Vertrag erstellen</h1>
  <p>Personen, für die der erstellte Vertrag gelten soll:</p>
  <form [formGroup]="emailForm">
    <ul>
      <li class="py-2"
          formArrayName="persons"
          *ngFor="let item of emailArray.controls; let i = index; trackBy: trackByIndex"
      >
        <app-person [cnt]="i" [person]="item"></app-person>
      </li>
    </ul>
    <div class="w-full md:w-1/3 m-auto">
      <button class="bg-reisishot text-center" (click)="addEmail()">+</button>
      <button class="bg-red-500 text-center" (click)="removeEmail()">-</button>
    </div>
    <div>
      <input class="w-full md:w-1/3" type="text" formControlName="user"
             placeholder="Benutzer für die Erstellung des Vertrages"/>
    </div>
    <div>
      <input class="w-full md:w-1/3" type="password" formControlName="pwd"
             placeholder="Passwort">
    </div>
    <div>
      <select formControlName="contractType"
              class="w-full md:w-1/3"
      >
        <option value selected disabled>Vertrag auswählen</option>
        <option *ngFor="let item of availableContracts | async" [value]="item">{{item | prettyFilename}}</option>
      </select>
    </div>
    <div>
      <label class="flex flex-row mx-auto items-baseline w-full md:w-1/3">
        <span>Unterschreibbar bis:&nbsp;</span>
        <input class="flex-grow" type="datetime-local" formControlName="endDatetime"
               placeholder="Vertrag ist gültig bis"/>
      </label>
    </div>
    <button (click)="sendForm()" [disabled]="!emailForm.valid"
            class="w-full md:w-1/3 bg-reisishot">
      Neuen Vertrag erstellen
    </button>
  </form>
  <pre> {{emailForm.value|json}}</pre>
  <br>
  <pre> Formular Status: {{emailForm.status}}</pre>
</div>
