<div class="text-center p-6">
  <h1 class="w-full">Einen neuen Vertrag erstellen</h1>
  <p>E-Mail Adressen, für die der Vertrag gelten soll:</p>
  <form [formGroup]="emailForm">
    <ul>
      <li class="py-2"
          formArrayName="emails"
          *ngFor="let item of emailArray.controls; let i = index; trackBy: trackByIndex"
      >
        <div [formGroupName]="i">
          <label>
            {{i + 1}}.
            <input formControlName="email"
                   class="w-full md:w-1/3" type="email"
                   placeholder="Deine E-Mail Adresse"
                   required
            >
          </label>
        </div>
      </li>
    </ul>
  </form>
  <div class="w-full md:w-1/3 m-auto">
    <button class="bg-reisishot text-center" (click)="addEmail()">+</button>
    <button class="bg-red-500 text-center" (click)="removeEmail()">-</button>
  </div>
  <button (click)="sendForm()" [disabled]="!emailForm.valid"
          class="w-full md:w-1/3 bg-reisishot">
    Neuen Vertrag erstellen
  </button>
  <pre> {{emails|json}}</pre>
  <pre> {{emailForm.status|json}}</pre>
</div>
