<div class="p-6 text-center">
  <h1 class="mb-2 text-4xl font-light">Shooting Warteliste</h1>

  <app-referral-customer-info *ngIf="waitlistPerson"
                              [auth]="user"
                              [user]="waitlistPerson"></app-referral-customer-info>


  <app-show-all-contracts *ngIf="waitlistPerson" [auth]="user"></app-show-all-contracts>

  <div [routerLink]="['personal_information']" class="mx-auto mt-5 w-full md:w-1/3 button">Persönliche Daten ändern
  </div>

  <app-contact-me></app-contact-me>

  <div class="mt-2">
    <app-shooting-date-view-public [weeks]="8"></app-shooting-date-view-public>
  </div>

  <div class="flex flex-wrap">
    <span *ngFor="let item of items" class="self-stretch p-3 w-full xl:w-1/2">
      <app-waitlist-item [item]="item" [person]="user"></app-waitlist-item>
    </span>
  </div>

</div>
