<div *ngIf="data" class="p-2 mt-4 rounded-lg border-2 border-reisishot border-solid">
  <h2 class="mb-2 text-2xl font-light">Alle Verträge ansehen</h2>
  <ol class="overflow-y-scroll max-h-60">
    <li *ngFor="let item of data">
      <button [ngClass]="{
         'bg-red-800 text-white visited:text-white no-underline': item.can_sign === '0' && item.is_signed ==='0',
         'bg-yellow-300 text-black visited:text-gray-800 no-underline': item.can_sign === '1' && item.is_signed ==='0',
         'bg-green-300 text-gray-800 visited:text-gray-600 no-underline': item.is_signed ==='1'

}" [routerLink]="['/contracts',auth.email,item.access_key]"
              class="py-1">
        &nbsp;Vertrag vom {{formatDate(item.due_date)}}&nbsp;
      </button>
    </li>
  </ol>
</div>
