<div *ngIf="showForm; else noShow" class="p-5">
  <form [formGroup]="pwdChangeForm">
    <div>
      <input class="w-full md:w-1/3" formControlName="oldUser" placeholder="Gültiger Benutzername" type="text"/>
    </div>
    <div>
      <input class="w-full md:w-1/3" formControlName="oldPwd" placeholder="Gültiges Passwort" type="password"/>
    </div>
    <div>
      <input class="w-full md:w-1/3" formControlName="newUser" placeholder="Zu ändernder Nutzer" type="text"/>
    </div>
    <div>
      <input class="w-full md:w-1/3" formControlName="newPwd" placeholder="Neues Passwort" type="password"/>
    </div>
    <div>
      <button (click)="changePassword()" [disabled]="!pwdChangeForm.valid" class="w-full bg-reisishot md:w-1/3">
        Passwort
        <ng-container *ngIf="changePasswordData().newUser"> für Benutzer "{{changePasswordData().newUser}}"
        </ng-container>
        ändern
      </button>
    </div>
  </form>
</div>

<ng-template #noShow>
  <button (click)="showForm=true" class="p-2.5">Passwort ändern</button>
</ng-template>
