<div class="py-6 text-center">
  <h1 class="mb-2">Shooting Warteliste - Admin Dashboard</h1>

  <ng-container *ngIf="items && credentials">
    <app-pending-signatures [credentials]="credentials"></app-pending-signatures>
    <h2 class="my-3 text-3xl ">Anmeldungen zu den Shootings</h2>
    <app-waitlist-dashboard-item
      *ngFor="let item of items "
      [credentials]="credentials"
      [item]="item"
    ></app-waitlist-dashboard-item>

  </ng-container>

  <app-person-assess-arbitrary *ngIf="items && credentials" [auth]="credentials"></app-person-assess-arbitrary>

  <app-leaderboard-by-year *ngIf="leaderboard && credentials" [auth]="credentials"
                           class="mt-3"></app-leaderboard-by-year>

  <ng-container *ngIf="leaderboard">
    <app-leaderboard [items]="leaderboard"></app-leaderboard>
  </ng-container>
</div>
