<div class="p-2 h-full">
  <h3 class="my-3 text-2xl">{{item.title}}</h3>
  <table *ngIf="item.registrations.length > 0" class="mx-auto">
    <thead>
    <tr>
      <th class="py-1 px-2 border border-black">Punkte</th>
      <th class="py-1 px-2 border border-black">Name</th>
      <th class="py-1 px-2 border border-black">Verfügbarkeit</th>
      <th class="py-1 px-2 border border-black">Freitext</th>
      <th class="py-1 px-2 border border-black">Vertrag erstellen</th>
      <th class="py-1 px-2 border border-black">Ignorieren</th>
      <th class="py-1 px-2 border border-black">Als abgeschlossen markieren</th>
      <th class="py-1 px-2 border border-black">Erfahrung speichern</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let registration of item.registrations; let i = index"
        [ngClass]="{'bg-gray-100': registration.done_internal === '1'}">
      <td [ngClass]="{
          'bg-red-800 text-white': registration.points < 0,
          'bg-reisishot text-white': registration.points >= 100
          }"
          class="py-1 px-2 border border-black">
        {{registration.points}}
      </td>
      <td class="py-1 px-2 border border-black">
        {{registration.firstName}} {{registration.lastName}} {{displayAgeInformation(registration.birthday)}}
      </td>
      <td class="py-1 px-2 border border-black">{{registration.availability}}</td>
      <td class="py-1 px-2 border border-black">{{registration.text }}</td>
      <td class="py-1 px-2 border border-black">
        <button
                (click)="createContract(i,registration)"
                [disabled]="registration.done_internal === '1'"
                class="p-2.5 font-bold text-white bg-reisishot"
        >
          Vertrag erstellen
        </button>
      </td>
      <td class="py-1 px-2 border border-black">
        <button
          (click)="ignore(i,registration)"
          *ngIf="registration?.done_internal === '0'; else ignored"
          class="p-2.5 text-white bg-gray-800"
        >
          Ignorieren
        </button>
        <ng-template #ignored>
          <button class="p-2.5 text-white bg-gray-800" disabled>Bereits ignoriert</button>
        </ng-template>
      </td>
      <td class="py-1 px-2 border border-black">
        <button (click)="done(i,registration)" class="p-2.5 font-bold text-white bg-reisishot">Abschließen
        </button>
      </td>
      <td class="py-1 px-2 border border-black">
        <app-person-assess [auth]="internalUserPwd" [email]="registration.email"></app-person-assess>
      </td>
    </tr>
    </tbody>
  </table>
</div>
