<div class="p-2 mt-4 rounded-lg border-2 border-reisishot border-solid">
  <h2 class="text-2xl font-light">Hallo {{user.firstName}} {{user.lastName}}!</h2>
  <p>
    Ich würde mich freuen, wenn du mich weiterempfehlen würdest. <br/>
    Wenn Personen sich über deinen Link anmelden, sammelst du Punkte.<br/>
    Diese Punkte wirst du in Zukunft für bestimmte Vorteile einlösen können.
  </p>
  <p>
    Je mehr Punkte du auf deinem Konto hast, desto besser ist deine Platzierung in der Warteliste.
  </p>
  <div class="text-3xl font-light text-reisishot">
    Dein aktueller Punktestand: {{user.points}} Punkte
    <ng-container>
      <button (click)="showHistory()" *ngIf="!showReferralPointHistory" class="py-2">Details anzeigen</button>
      <button (click)="hideHistory()" *ngIf="showReferralPointHistory" class="py-2">Details verstecken</button>
    </ng-container>
  </div>

  <table *ngIf="showReferralPointHistory" class="mx-auto w-full lg:w-1/2">
    <thead>
    <tr>
      <th class="py-1 px-2 border border-black">Zeitpunkt</th>
      <th class="py-1 px-2 border border-black">Position</th>
      <th class="py-1 px-2 border border-black">Punkte</th>
    </tr>
    </thead>
    <tbody *ngIf="historyData">
    <tr *ngFor="let item of historyData"
        [ngClass]="{
    'bg-reisishot': item.points > 0,
    'bg-red-800 ': item.points < 0,
    'text-white': item.points !== 0
}">
      <td class="py-1 px-2 border border-black">{{item.timestamp.format("DD.MM.YYYY HH:mm:ss")}}</td>
      <td class="py-1 px-2 border border-black">{{item.display}}</td>
      <td class="py-1 px-2 border border-black">{{(item.points > 0 ? "+" : "") + item.points}}</td>
    </tr>
    </tbody>
  </table>

  <app-referral-perks [curPoints]="user.points"></app-referral-perks>

  <div>
    Dein Referral Link:
    <span *ngIf="referralLinkCopied"
          class="block my-1 font-light">Der Link wurde in deine Zwischenablage kopiert!</span>
    <div (click)="select($event)" class="p-2 mx-auto w-full text-center bg-gray-50 rounded-2xl lg:w-1/2"
         contenteditable="true">
      https://service.reisishot.pictures/waitlist/{{user.email}}
    </div>

  </div>
</div>
