<div class="text-center p-6">
  <form [formGroup]="reviewData" class="space-y-0">
    <h1>Review erstellen oder bearbeiten</h1>
    <app-rating (newValue)="setValue($event)" [editable]="true" [max]="100" [min]="0" [style]="'4x'"
                [value]="reviewData.get('rating').value"></app-rating>
    <div>
      <input class="w-full md:w-1/3" formControlName="name" placeholder="Name"
             [ngClass]="{'loaded': rawData != null}" type="text"/>
    </div>
    <div>
      <input [attr.disabled]="emailDisabled"
             [ngClass]="{'loaded': rawData != null}"
             class="w-full md:w-1/3" formControlName="email"
             placeholder="E-Mail" type="email"/>
    </div>
    <div>
      <textarea class="w-full md:w-1/3 block mx-auto" formControlName="review_private"
                placeholder="Feedback, das nicht veröffentlicht wird"
                [ngClass]="{'loaded': rawData != null}" rows="10"></textarea>

      <textarea [pattern]="minWordRegexp" class="w-full md:w-1/3 block mx-auto"
                formControlName="review_public" placeholder="Öffentliche Bewertung"
                [ngClass]="{'loaded': rawData != null}" rows="10"></textarea>
      <div *ngIf="reviewData.get('review_public')?.errors?.pattern" class="text-red-500">
        Bitte schreibe zumindest {{minWordsCnt}} Wörter.
      </div>
    </div>
    <div>
      <button (click)="saveReview()" [attr.disabled]="reviewData.valid &&!showSaved?null:''"
              class="w-full md:w-1/3 bg-reisishot text-white">Speichern
      </button>
    </div>
    <div>
      <p *ngIf="showSaved" @triggerSaved
         class="p-5 rounded-lg mx-auto block w-full md:w-1/3 bg-reisishot text-white font-light text-3xl">Deine
        Bewertung wurde
        gespeichert.</p>
    </div>
  </form>
</div>
