<div class="p-2 rounded-lg border-2 border-black border-solid">
  <a href="{{url}}#{{item.short}}"><h2 [id]="item.short" class="my-3 text-3xl font-light">{{item.title}}</h2></a>
  <app-lazy-loading-image [alt]="item.title" [id]="item.image_id" [ratio]="2/3"></app-lazy-loading-image>
  <p class="p-2 mx-auto w-full md:w-11/12">{{item.description}}</p>

  <div class="block">
    <span *ngIf="item.available_to">Anmeldeschluss: {{formatDate(item.available_to)}}</span>
  </div>
  <form *ngIf="item.registered === 0; else abmelden" [formGroup]="registration" onsubmit="return false;">
        <textarea *ngIf="person" class="mx-auto w-11/12" formControlName="text"
                  placeholder="Zusätzliche Informationen - Details, die du mir sagen möchtest oder wann (in welcher Kalenderwoche) du am besten Zeit für das Shooting hast"
                  rows="4"></textarea>
    <div (click)="register()" class="mx-auto w-full font-medium text-white bg-reisishot button">
      <ng-container *ngIf="!canRegister; else allowRegistration"> Alle Wartelistenplätze belegt</ng-container>
      <ng-template #allowRegistration>
        <span *ngIf="user; else unknown">Jetzt anmelden</span>
        <ng-template #unknown> Du musst registriert sein, um dich anmelden zu können</ng-template>
      </ng-template>
      <div *ngIf="max_waiting && max_waiting <= 5"
           class="py-0.5 px-2 mt-3 text-sm font-bold text-reisishot bg-white rounded">
        Nur mehr {{item.max_waiting}} Plätze frei
      </div>
    </div>
  </form>
  <ng-template #abmelden>
    <div (click)="unregister()" class="mx-auto w-full font-medium text-white bg-red-600 button">Jetzt abmelden</div>
  </ng-template>
</div>
