<div [formGroup]="person">

  <p>{{cnt + 1}}. Person</p>
  <div>
    <input formControlName="firstName"
           placeholder="Vorname"
           class="w-1/2 md:w-1/6"
           type="text" required
    >
    <input formControlName="lastName"
           placeholder="Nachname"
           class="w-1/2 md:w-1/6"
           type="text" required
    >
  </div>
  <div>
    <input formControlName="email"
           placeholder="Deine E-Mail Adresse"
           class="w-full md:w-1/3"
           type="email" required
    >
  </div>
  <div>
    <input formControlName="birthday"
           placeholder="Dein Geburtstag"
           class="w-full md:w-1/3"
           type="date" required
    >
  </div>
</div>
