<div class="text-center p-6">
  <div *ngIf="formSentState.completed; then sent else form"></div>
</div>

<ng-template #form>
  <div class="mb-12">
    <app-resend-contract-access-key></app-resend-contract-access-key>
  </div>
  <h1 class="w-full">Einen neuen Vertrag erstellen</h1>
  <p>Personen, für die der erstellte Vertrag gelten soll:</p>
  <form [formGroup]="emailForm">
    <div *ngFor="let item of emailArray.controls; let i = index; trackBy: trackByIndex"
         class="py-2"
         formArrayName="persons"
    >
      <app-person [cnt]="i" [person]="item"></app-person>
    </div>
    <div class="w-full md:w-1/3 m-auto">
      <button class="bg-reisishot text-center" (click)="addPerson()">+</button>
      <button class="bg-red-500 text-center" (click)="removePerson()">-</button>
    </div>
    <div>
      <input class="w-full md:w-1/3" type="text" formControlName="user"
             placeholder="Benutzer für die Erstellung des Vertrages"/>
    </div>
    <div>
      <input class="w-full md:w-1/3" type="password" formControlName="pwd"
             placeholder="Passwort">
    </div>
    <div>
      <select formControlName="contractType"
              class="w-full md:w-1/3"
      >
        <option value selected disabled>Vertrag auswählen</option>
        <option *ngFor="let item of availableContracts | async" [value]="item">{{item | prettyFilename}}</option>
      </select>
    </div>
    <div>
      <label class="flex flex-row mx-auto items-baseline w-full md:w-1/3">
        <span>Unterschreibbar bis:&nbsp;</span>
        <input class="flex-grow" type="datetime-local" formControlName="dueDate"
               placeholder="Vertrag ist gültig bis"/>
      </label>
    </div>
    <div>
      <textarea class="w-full md:w-1/3" formControlName="text" rows="4"
                placeholder="Zusätzlicher Vertragsinhalt (z.B. Datum)"></textarea>
    </div>
    <div>
      <div *ngIf="additionalText"
           [innerHTML]="additionalText | markdown"
           class="w-full md:w-1/3 text-center mx-auto border border-black p-1">
      </div>
    </div>
    <div>
      <button (click)="sendForm()" [disabled]="!emailForm.valid || formSentState?.sent"
              class="w-full md:w-1/3 bg-reisishot">
        Neuen Vertrag erstellen
      </button>
    </div>
    <div>
      <button (click)="previewContract()" [disabled]="!contractType"
              class="w-full md:w-1/3 bg-reisishot"> Vertrag anzeigen
      </button>
    </div>
  </form>
  <div *ngIf="formSentState?.error?.length > 0" class="bg-red-500 p-8">{{formSentState.error}}</div>
</ng-template>

<ng-template #sent>
  <h1>Bitte schau in deinen E-Mail Posteingang!</h1>
</ng-template>
