<form [formGroup]="formShooting" class="inline-flex space-x-4">
  <span class="inline-flex items-center">
    <input formControlName="showMinor" id="showMinor" name="showMinor" type="checkbox">
    <label for="showMinor">&nbsp;&lt;18 anzeigen</label>
  </span>
  <span class="inline-flex items-center">
    <input formControlName="showGroups" id="showGroups" name="showGroups" type="checkbox">
    <label for="showGroups">&nbsp;Gruppen Shootings anzeigen</label>
  </span>
</form>

<h2>Relativ</h2>
<div class="relative h-[40vh]">
  <canvas *ngIf="chartData" [datasets]="chartData.relativeDataSet"
          [labels]="chartData.labels"
          [legend]="chartData.chartLegend"
          [options]="chartData.relativeOptions"
          [type]="chartData.chartType"
          baseChart
  ></canvas>
</div>

<h2>Absolut</h2>
<div class="relative h-[40vh]">
  <canvas *ngIf="chartData" [datasets]="chartData.absoluteDataSet"
          [labels]="chartData.labels"
          [legend]="chartData.chartLegend"
          [options]="chartData.absoluteOptions"
          [type]="chartData.chartType"
          baseChart
  ></canvas>
</div>
