<div class="p-6 text-center">
  <h1 class="mb-2 text-4xl font-light">Shooting Warteliste</h1>

  <app-referrer-info-top *ngIf="referrer" [referrer]="referrer"></app-referrer-info-top>

  <app-waitlist-person></app-waitlist-person>

  <app-preview-contract-chooser></app-preview-contract-chooser>

  <app-referral-perks [curPoints]="9007199254740991"></app-referral-perks>

  <app-contact-me></app-contact-me>

  <div class="my-4">
    <app-shooting-date-view-public [weeks]="4"></app-shooting-date-view-public>
  </div>

  <div class="flex flex-wrap items-stretch">
    <ng-container>
      <app-waitlist-item *ngFor="let item of publicItems | async" [item]="item"
                         class="p-3 w-full xl:w-1/2"></app-waitlist-item>
    </ng-container>
  </div>
</div>
