<app-change-pwd></app-change-pwd>

<form [formGroup]="passwordForm" onsubmit="return false;">
  <div>
    <input class="w-full md:w-1/3" formControlName="user" placeholder="Admin Benutzer" type="text"/>
  </div>
  <div>
    <input class="w-full md:w-1/3" formControlName="pwd" placeholder="Passwort" type="password"/>
  </div>
  <div>
    <button (click)="submitValue()" [disabled]="!passwordForm.valid"
            [ngClass]="{'text-black bg-white p-2': credentialsAvailable}"
            class="w-11/12 text-white bg-reisishot md:w-1/3">
      {{credentialsAvailable ? 'Benutzer ändern' : 'Anmelden'}}
    </button>
  </div>
</form>
