<div *ngIf="!formSubmitted; else success" class="flex-wrap w-full xl:flex">
  <ng-container *ngTemplateOutlet="login"></ng-container>
  <ng-container *ngTemplateOutlet="register"></ng-container>
</div>
<ng-template #success>
  <h2 class="my-5 text-3xl font-light text-reisishot">Bitte schau in deinen E-Mail Posteingang und klicke auf den
    Link</h2>
</ng-template>

<ng-template #login>
  <form [formGroup]="email" class="flex-1 self-center mb-8" onsubmit="return false;">
    <h3 class="mb-1 text-2xl font-light">Wieder anmelden</h3>

    <div>
      <div>
        <input class="w-full md:w-7/12" formControlName="email" placeholder="Deine E-Mail Adresse" required
               type="email"/>
      </div>
      <div>
        <button
          (click)="doLogin()"
          [attr.disabled]="email.get('email')?.valid?null:''"
          class="py-2 px-4 w-full text-white bg-reisishot md:w-7/12"
        >
          Anmelden
        </button>
      </div>
    </div>
    <h2 *ngIf="!formSubmitted && errorLogin" class="my-5 text-xl font-light text-red-500">Bitte kontrolliere deine
      E-Mail Adresse</h2>
  </form>
</ng-template>

<ng-template #register>
  <form [formGroup]="person" class="flex-1 mb-8" onsubmit="return false;">
    <h3 class="mb-1 text-2xl font-light">Neu registrieren</h3>
    <div>
      <div>
        <input class="w-full md:w-7/12" formControlName="firstName" placeholder="Vorname" required type="text"/>
      </div>
      <div>
        <input class="w-full md:w-7/12" formControlName="lastName" placeholder="Nachname" required type="text"/>
      </div>
      <div>
        <input class="w-full md:w-7/12" formControlName="email" placeholder="Deine E-Mail Adresse" required
               type="email"/>
      </div>
      <div>
        <input class="w-full md:w-7/12"
               formControlName="birthday"
               data-date-placeholder="Dein Geburtstag"
               placeholder="Dein Geburtstag JJJJ-MM-TT"
               required
               type="date"
        />
      </div>
      <div>
        <input class="w-full md:w-7/12" formControlName="phone_number" placeholder="Deine Telefonnummer"
               required type="tel"/>
      </div>
      <div>
        <input class="w-full md:w-7/12" formControlName="website"
               placeholder="Link zu deinem Instagram etc. (optional)"/>
      </div>
      <div>
        <textarea
          class="w-full md:w-7/12"
          formControlName="availability"
          placeholder="Wann hast du normal Zeit für ein Shooting? (Tage oder Zeiten, wo du normalerweise Zeit hast)"
          required
          rows="4"
        ></textarea>
      </div>
      <button (click)="doRegister()" [attr.disabled]="person.valid?null:''"
              class="py-2 px-4 w-full text-white bg-reisishot md:w-7/12">
        Registrieren
      </button>
    </div>
  </form>
</ng-template>
