<div class="content-center">
  <div class="mx-auto w-full bg-gradient-to-r from-red-500 via-yellow-300 to-reisishot md:w-1/2 lg:w-1/3">
    <div [style.margin-left.%]="widthAsPercent()"
         class="box-content pl-[1%] w-0 h-20 bg-transparent border-2 border-black"></div>
  </div>
  <div *ngIf="ratingValues" class="mx-auto">
    <span class="text-2xl"> {{ratingValues.avg}} / 100</span>
    <div class="flex justify-center items-center">
      <div class="p-4">
        <app-rating [editable]="false" [max]="100"
                    [min]="0" [style]="'3x'" [value]="ratingValues.avg"
                    class="inline-block"></app-rating>
      </div>
      <span class="text-3xl"> ({{ratingValues.count}})</span>
    </div>
  </div>
</div>
