/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import "rs";
@import "global";

@layer base {
  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg
  }

  p {
    @apply my-4
  }

  html, body {
    @apply h-full
  }

  button, .button {
    @apply border p-6 m-2 text-lg transition-colors duration-150 rounded-lg focus:ring disabled:opacity-75 disabled:bg-gray-600 disabled:text-gray-200;
    cursor: pointer
  }

  img {
    @apply mx-auto;
  }

  input, select, textarea {
    @apply border border-gray-200 p-2;

    &.ng-touched {
      &.ng-invalid {
        @apply focus:border-gray-200 border-red-500
      }

      &.ng-valid {
        @apply focus:border-gray-200 border-reisishot-light
      }
    }

    &.ng-pristine {
      @apply text-gray-400;
    }

    option {
      @apply text-black;
    }
  }

  pre {
    @apply whitespace-pre text-left font-mono bg-gray-100 w-full;
  }

  ul {
    @apply list-disc list-inside
  }

  ol {
    @apply list-decimal list-inside
  }

  a {
    @apply underline text-blue-600 hover:text-blue-800 visited:text-purple-600
  }
}

input[type='date']:before {
  color: #aaa;
  content: attr(data-date-placeholder) ':\00a0';
}
