<div class="text-center p-6" *ngIf="contractData!== undefined">
  <div *ngIf="contractData; then content else nullMsg"></div>
</div>

<ng-template #content>
  <div class="bg-reisishot text-white text-xl p-4">
    Von {{contractData.firstname}} {{contractData.lastname}} ({{email}} / {{formatBirthday(contractData.birthday)}})
    bis {{formatDueDate(contractData.due_date)}} zu
    unterschreiben
  </div>
  <div class="m-2 p-2 border border-solid border-black" [innerHTML]="contractData.markdown | markdown "></div>
  <small>Hash: {{contractData.hash_value}} ({{contractData.hash_algo}})</small>
  <div>
    <button (click)="sign()">Unterschreiben</button>
  </div>
  <pre>
    {{ contractData | json}}
  </pre>
</ng-template>
<ng-template #nullMsg>
  <h1 class="bg-red-500 p-4">Dieser Vertrag konnte nicht gefunden werden.</h1>
</ng-template>
