<div class="text-center p-6" *ngIf="contractData!== undefined">
  <div *ngIf="contractData; then content else nullMsg"></div>
</div>

<ng-template #content>
  <div class="bg-reisishot text-white text-xl p-4">
    Von {{contractData.firstname}} {{contractData.lastname}} ({{email}} / {{formatBirthday(contractData.birthday)}})
    bis {{formatDueDate(contractData.due_date)}} zu
    unterschreiben
  </div>
  <div class="m-2 p-2 border border-solid border-black" [innerHTML]="contractData.markdown | markdown "></div>
  <small>Hash: {{contractData.hash_value}} ({{contractData.hash_algo}})</small>
  <div>
    <button class="bg-reisishot" [disabled]="curUserSigned || contractData === undefined" (click)="sign()">
      Unterschreiben
    </button>
  </div>
  <div class="py-2">
    <h2 class="pb-2">Status der Unterschriften</h2>
    <table class="shadow-lg mx-auto">
      <thead>
      <tr>
        <th class="border border-black p-1">E-Mail</th>
        <th class="border border-black p-1">Status der Unterschrift</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of signStatus | async">
        <td class="border border-black p-2">{{item.email}}</td>
        <td class="border border-black p-2 font-bold bg-reisishot" *ngIf="item.signed !== '0'; else notSigned">
          ✓ Bereits unterschrieben
        </td>
        <ng-template #notSigned>
          <td class="border border-black p-2 font-bold bg-red-400">✗ Noch nicht unterschrieben</td>
        </ng-template>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="py-2">
    <h2 class="pb-2">Vollständige Information der Aktionen zum Vertrag</h2>
    <table class="shadow-lg mx-auto">
      <thead>
      <tr>
        <th class="border border-black p-1">Datum / Uhrzeit</th>
        <th class="border border-black p-1">E-Mail</th>
        <th class="border border-black p-1">Aktion</th>
        <th class="border border-black p-1">Hash value</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of logs | async">
        <td class="border border-black p-2">{{item.timestamp}}</td>
        <td class="border border-black p-2">{{item.email}}</td>
        <td class="border border-black p-2">{{item.log_type}}</td>
        <td class="border border-black p-2 max-w-xs break-words">{{item.hash_value}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</ng-template>
<ng-template #nullMsg>
  <h1 class="bg-red-500 p-4">Dieser Vertrag konnte nicht gefunden werden.</h1>
</ng-template>
